body {
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}
  
#main {
    position: absolute;
    text-align: center;
    top: 20%;
    left: 37%;
}
  
button {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    height: 4rem;
    width: 10rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px black;
    background-color: white;
}
  