body {
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    display: flex;
    justify-content: center;
}

#main {
    position: absolute;
    text-align: center;
}
  
button {
    height: 4rem;
    width: 10rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px black;
    background-color: white;
    cursor: pointer;
}

#no-btn {
    position: absolute;
    top: 120%;
    left: 120%;
    transform: translate(-50%, -50%);
}
  